.username-entete{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.username-span{
    color: gray;
    font-size: 14px;
}
.user-content{
    height: 30%;
    position: relative;
    width: 100%;
}
.banner{
    width: 100%;
    height: 100%;
}
.user-avatar{
    position: absolute;
    bottom: -40px;
    padding-left: 10px;
    display: flex;
}
.user-profil{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: -35px;
    right: -630px;
}
.user-profil p{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    text-align: center;
    border-radius: 100%;
    padding-top: 5px;
}
.user-text{
    margin-top: 70px;
    padding: 20px;
}
.user-description{
    padding: 0 20px;
    text-align: justify;
}
.username-link{
    color: #1D9BF0;
}
.user-link-content{
    padding: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.user-link-content div{
    display: flex;
    gap: 5px;
    align-items: center;
}
.user-abonne{
    padding: 0 20px;
    display: flex;
    gap: 30px;
}
.user-avatar{
    width: 150px;

}
.user-suivi{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.link-white{
    color: white;
}
.user-ul{
    padding: 15px 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.user-ul li{
    cursor: pointer;
}
